# based on https://github.com/gz/scfs/blob/a2fef3b59806de8f6027f60d62500358bec02aa7/apt-mirror.config
############# config ###################
set base_path    /DebStatistics/apt-mirror
set nthreads     24
set _tilde 0
############# end config ##############
deb http://archive.ubuntu.com/ubuntu focal main restricted universe multiverse
deb http://archive.ubuntu.com/ubuntu focal-security main restricted universe multiverse
deb http://archive.ubuntu.com/ubuntu focal-updates main restricted universe multiverse
clean http://archive.ubuntu.com/ubuntu
